.logindivwrapper {
    height: 100vh;
}

.modalcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.modalwrapper {
    font-family: SourceSansPro;
}

.wrapperdiv {
    padding: 14px 54px;
}

.labeltext {
    font-family: SourceSansPro;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputbox {
    width: 365px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px #dfe3e9;
}

.submitbutton {
    width: 156px;
    height: 40px;
    background-color: #e41e26;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-family: SourceSansPro;
    border-radius: 8px;
    font-weight: bold;
}